apiVersion: v1
kind: Secret
metadata:
  name: app-secret
  namespace: default
type: Opaque
data:
  .env: REFUQUJBU0VfVVJMPXBvc3RncmVzOi8vYXBwLWRiOjU0MzIvcG9zdGdyZXMKQ0FDSEVfU0laRT0xMDAwClBBWU1FTlRfR0FURVdBWV9VUkw9aHR0cHM6Ly9wYXltZW50LWdhdGV3YXkuZXhhbXBsZS5jb20KTUFYX0NBUlRfSVRFTVM9NTAwClNFU1NJT05fVElNRU9VVD0zNjAwCkRCX1VTRVJOQU1FPWFkbWluCkRCX1BBU1NXT1JEPXN1cGVyc2VjcmV0MTIz